*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.header{
    background-image: linear-gradient(#000000ab,#000000ab), url(img/desk.jpg);
    height: 99vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; (Kan testa detta ifall det ser bra ut)*/
}

.header img{
    width: 21%;
    height: 8%;
    margin-top: 15px;
    margin-left: -30px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav{
    position: absolute;
    top: 5.5%;
    margin-left: 37vw;
    transform: translate(-53%, -50%);
}

.nav ul{
    left: 0;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 500px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 30px;
    border: 1px solid transparent #ffffff;
    transition: 0.6s ease;
    font-size: 19px;
    font-family: LakersRegular;
}

.nav ul li a:hover{
    background-color: #ffffff;
    color: #000000;
}

.social{
    position: absolute;
    top: 5.5%;
    right: 0.1%;
    transform: translate(-53%, -50%);
}

.social li{
    list-style: none;
    margin: 15px;
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    transition: .5s;
    cursor: pointer;
}

.social li a{
    color: #ffffff;
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#down-arrow a{
    padding-top: 60px;
}

#down-arrow a span{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    box-sizing: border-box;
}

#down-arrow a span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#line-breaker{
    width: 100%;
    height: 1vh;
    background-color: #252525c7;
}

.body{
    background-color: #ffffff;
    height: 100vh;
} 

#footer{
    background-color: #252525;
    height: 2vh;
    padding-top: 13px;
    padding-bottom: 5px;
    color: #ffffffc0;
    text-align: center;
    font-size: 12px;
}

@font-face{
    font-family: LakersRegular;
    src: url(fonts/LakersRegular.otf);
}
  